* {
	font-family: 'Roboto', sans-serif;
}
body{
	width: 50%;
	margin: 0 auto;
	padding: 40px;  
}
h1{  
	text-align: center;
}
.form {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
    height: auto;
}
#cep {
	width: 68%;
	float: left;
	text-align: center;
	font-size: 20px;
}
#btn {
	width: 30%;
	float: left;
	font-size: 20px;
}
#result { 
	width: 50%;
    margin: 0 auto;
}
#result>p {
	text-align: center;
} 
select {
    width: 48%;
}